body{
    background-color: #f1f4f8;
    
}
#searchbar{
    /* border: 1px solid; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   width: 500px;
   height: 430px;
   margin-top: -480px;
   margin-left: 130px;
   background-color:white;
   

   position: absolute;

}

#tab{

    height: 80px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    background-color: #49A6BA;
    display: flex;
}

#tab>button:nth-child(1){
    margin: auto;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-right: 190px; */
    background-color: white;
    width: 180px;
    border-radius: 10px;
    height: 65px;

    
    
    
}

#tab>button:nth-child(2){
    margin: auto;
    color: white;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* margin-right: 190px; */
    background-color: #49A6BA;
    width: 180px;
    border-radius: 10px;
    height: 65px;

    
    
    
}
#tab>button>h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}
#tab>button>p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: -10px;
}

#searchbar>img{
    margin-left: 200px;
    margin-top: 30px;

}
#searchbar>p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top:10px;
    color: #5A5254;

}
.arrow{
    position: absolute;
    width: 40px;
   
    margin-left: 80px;
    margin-top: 60px;
}
#input>input{
    width: 70%;
    height: 45px;
    margin-left: 70px;
    /* border-radius: 0%; */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: .9px solid gray;
    border-bottom: 0px;
    
}
#input>div{
    margin-left: 70px;
}

#input>div>input{
    border-radius: 0%;
    height: 45px;
    border: .9px solid gray;
    width: 40.9%;

}
#input>div>input:nth-child(2){
    margin-left: -6px;
    border-bottom-right-radius: 10px;
    margin-top: -300px;
}
#input>div>input:nth-child(1){

    border-bottom-left-radius: 10px;


}

::placeholder{
    color: #8D8E92;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 20px;
    padding-left: 25px;
}
#input>img{
    position: absolute;
    margin-left: -340px;
    margin-top: 15px;
}
#input>button{
    margin-left: 70px;
    width: 350px;
    margin-top: 30px;
    height: 60px;
    border: none;
    background-color: #49A6BA;
    border-radius: 30px;


}
.featuredhead{
    position: absolute;
    margin-left: 140px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    line-height: 1.5;
    color: #98A6B3CF;
    font-weight: 600;
}




.slider{
    width: 85%;
    margin: auto;
    margin-top:100px;
    gap: 10px;




}
.box{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

    background-color: white;
    border-radius: 20px;
    
}

.box>img{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    height: 170px;
    border-radius: 20px;
    margin: auto;
   


}

/* slider-2 */

.slider-2{
    width: 85%;
    margin: auto;
    margin-top:100px;
    gap: 10px;




}
.box-2{

    margin-left: 10px;
    margin-right: 10px;

    background-color: white;
    border-radius: 20px;
    
}
.box-2>img{
    width: 100%;
    border-radius: 20px;
    margin: auto;
   


}

/* slider-3 */


.slider-3{
    width: 85%;
    margin: auto;
    margin-top:100px;
    gap: 10px;
}

.box-3{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 100px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 5px;
    
    /* padding: 20px 20px 0px 0px; */

    background-color: white;
    border-radius: 10px;
    
}
.img{
    margin-top: 25px;
    margin-left: 20px;
    height: 30px;
    width: 90%;
    position: absolute;
}
.img>img{
    width: 50px;
}

.info{
    margin-left: 90px;
    margin-top: 15px;
}


.info>h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.info>p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #122232B3;
}

/* FAQs  */
.faqslink{
    position: absolute;
    margin-left: 1270px;
    margin-top:40px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-decoration: underline;
    color: #1CABA2;
}
.faqslink:hover{
    color: #1CABA2;
    text-decoration: none;
}

.faqs{
    width: 85%;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 5px;
    margin-top: 100px;
}

.line{
    padding: 20px 100px 0px 30px;
    border-bottom: .5px solid rgb(241, 244, 248);
}
.line>h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.line>p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #122232B3;
}


/* 4th slider  */

.slider-4{
    width: 85%;
    margin: auto;
    margin-top:100px;
    gap: 10px;
}

 .box-4{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-bottom: 5px;
    


    background-color: white;
    border-radius: 10px;
    
}



.info-2>h4{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}
.info-2>p{
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #122232B3;
    padding-left: 20px;
    padding-right: 30px;
}

.img-2{
    position: absolute;
    margin-left: 220px;
    margin-top: 260px;
}
.img-2>img{
    width: 40px;
}
.info-2>hr{
    color:rgb(241, 244, 248);
}

/* download */
.download{
    width: 85%;
    margin: auto;
    margin-top:50px;
    gap: 10px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.download>h2{
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #98A6B3CF;
    margin-left: 150px;
    position: absolute;
    margin-top: 150px;
}

.apple{
    width: 200px;
    position: absolute;
    margin-left: 100px;
    margin-top: 200px;
}
.google{
    width: 200px;
    position: absolute;
    margin-top: 200px;
    margin-left: 320px;
}
.revvapp{
    width: 500px;
    margin-left: 680px;
    margin-top: 96px;
    position: absolute;
}

/* <!-- oru journy so far  --> */

.journey{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}

.box5>img{
    width: 55px;
    margin-top: 35px;
    margin-bottom: 25px;
}
.box5>h3{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;

}
.box5>p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #122232B3 ;

}

/* our investors */

.investors{
    display: flex;
    width: 85%;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;


}
.box6{
    /* border: 1px solid; */
    width: 260px;
}
.box6>img{
    /* border: 1px solid; */
    width: 130px;
    margin: auto;
    margin-left: 60px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.box6>p{
    text-align: center;
    margin-bottom: 40px;
}


/* serviceable cities */

.cities{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    background-color: #2A2B36 ;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.cities>h2{
    color: white;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 26px;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

}
.cities>div{
    display: flex;
    

}

.col1{

    
    margin: auto;
    margin-top: 90px;
    margin-bottom: 20px;
    width: 27%;
}

.col1>p{
    font-family: 'Poppins', sans-serif;

    color:#868e96 ;
    font-size: 13px;
}
.col1>p:hover{
    cursor: pointer;
    color: white;
}


